<head>

   <!-- before head closing-->
   {% if template == "product.custom" %}
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   {{ 'codehouse.css' | asset_url | stylesheet_tag }}{% endif %}
</head>
<body>

    <!-- before body closing-->
    {% if template == "product.custom" %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
    {{ 'shopify_api.js' | asset_url | script_tag }}{% endif %}
</body>
